@import 'styles/__variables';

.List {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: $desktop) {
  .List {
    justify-content: center;
    > li {
      width: 28%;
    }
  }
}

@media screen and (max-width: $tablet) {
  .List {
    > li {
      width: 42%;
    }
  }
}

@media screen and (max-width: $phone) {
  .List {
    > li {
      width: 100%;
      margin-right: 0;
    }
  }
}
