@import 'styles/__variables';

.ListItem {
  width: 17%;
  list-style-type: none;
  border: .0625rem solid $border-color;
  padding: 15px;
  margin-right: 20px;
  margin-bottom: 20px;

  &:last-child {
    margin-right: 0
  }

	&__link {
		color: $default-text-color;
		&:hover {
			color: $default-text-color;
			text-decoration: none;
		}
	}

	&__caption {
		margin-top: 1.2rem;
	}

	&__title {
		position: relative;
		font-size: 1.1rem;
		line-height: 1.125rem;
		color: #919191;
		white-space: nowrap;
		overflow: hidden;
		padding-bottom: .5rem;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 3rem;
			background: linear-gradient(to right, transparent, #fff);
		}
	}

	&__price {
		display: inline-block;
		font-size: 1.4rem;
		font-weight: 600;
		min-height: 1.4rem;
	}

	&__addInfo {
		display: flex;
		margin-top: 1rem;
    font-weight: 600;

    li {
      display: flex;
      align-items: center;
    }

		li + li {
			margin-left: 3rem;
		}
	}

}
